@import "tailwindcss";

@config "../../tailwind.config.js";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@layer base {
    [x-cloak] {
        display: none !important;
    }

    html {
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
    }
}
